:root{
    --clr1: linear-gradient(130deg, #17a2a4 30%, #2bb67d 100%);
}
@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Medium.ttf);
}

html {
    font-family: Poppins;
}

body {
    background-color: #1f1f1f;
    overflow-y: hidden;
}

/* Helpers */


.btn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Poppins;
    font-size: 1.3125em;
    font-weight: 500;
    cursor: pointer;
}

.radius-border{
    border-radius: 30px;
}

/* header */

.header {
    background-color: #1fab93;
    background: var(--clr1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.logo {
    padding-left: 7.5rem;
}

.nav {
    padding-right: 14.375rem;
    display: flex;
    gap: 2.5rem;
}

/* gallery */


.gallery {
    background-color: #383b44;
    border-radius: 10px;
    height: 520px;
    overflow-y: hidden;
    padding-right: 15px;
    margin-bottom: 200px;
}

.gallery-features{
    display: flex;
    padding-left: 20px;
    /* padding-left: 20px; */
    padding-block: 40px;
    gap: 20px;
}
.feature{
    border-radius: 30px;
    height: 60px;
}
.search{
    background-color: #22252e;
    padding-inline:50px ;
    flex-grow: 5;
    /* opacity: 0.380; */
}
.tags{
    background-color: #88898d;
    padding-inline:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    /* gap: ; */
}
.more-btn{
    background: var(--clr1);
    font-weight: 300;
    font-size: 1.15em;
    height: 40px;
    flex-grow: 1;
    align-self: flex-end;
}
.gallery-imgs {
    width: 175px;
    height: 175px;
    border-radius: 10px;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 50px;
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 200px;
}

/* gallery scroller */

::-webkit-scrollbar {
    width: 15px;
    background-color: #22252c;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr1);
    border-radius: 10px;
}

/* meme-editor */

.meme-editor {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    /* padding-inline: 90px; */
}

canvas {
    background-color: aliceblue;
    border-radius: 10px;
    border: 6px solid #34373e;
}

.meme-features{
    background-color: #34373e;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 40px ;
}

.text-input{
    margin-top: 20px;
    background-color: #ebeef3;
    border-radius: 20px;
    width: 100%;
}

.text-featers{
    background-color:#19a59f;
    width: 100%;
    padding-inline: 15px;
    padding-block: 10px;
    display: flex;
    gap: 30px;
}

.text-featers > * {
    border-radius: 10px;
}

.smile{
    background-color: white;
}
.text-btn{
    background-color: white;
    color: black;
}

.hide {
    display: none;
}