:root {
    --clr1: linear-gradient(130deg, #0f9bb2 30%, #2bb67d 100%);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url(/font/Poppins-Light.ttf);
}

html {
    font-family: Poppins;
}

body {
    background-color: #1f1f1f;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Helpers */

img {
    width: 100%;
}

.flex {
    display: flex;
}

.btn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Poppins;
    font-size: 1.3125em;
    font-weight: 500;
    cursor: pointer;
}

.border-radius {
    border-radius: 30px;
}

a {
    text-decoration: none;
}

.input {
    cursor: auto;
}


/* header */

.header {
    background-color: #1fab93;
    background: var(--clr1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.logo {
    padding-left: 7.5rem;
}

.nav {
    padding-right: 14.375rem;
    gap: 2.5rem;
}

/* gallery */


.gallery {
    background-color: #383b44;
    border-radius: 10px;
    height: 80vh;
    overflow-y: hidden;
    padding-bottom: 150px;
    padding-right: 15px;
}

.gallery-features {
    display: flex;
    padding-left: 20px;
    padding-block: 40px;
    gap: 20px;
}

.feature {
    border-radius: 30px;
    height: 60px;
    font-family: Poppins-light;
}

.search-form {
    flex-grow: 1;
}

.tags-flex {
    flex-grow: 1;
    gap: 10px;
}

.search {
    background-color: #22252e;
    padding-inline: 50px;
    width: 100%;
}

.word-search {
    cursor: pointer;
}

.tags-display {
    background-color: #88898d;
    padding-inline: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* max-width: 550px; */
    /* gap: ; */
}

.more-btn {
    background: var(--clr1);
    font-weight: 300;
    font-size: 1.15em;
    height: 40px;
    flex-grow: 1;
    align-self: flex-end;
}

.gallery-imgs {
    max-width: 175px;
    max-height: 175px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 5px #26292db0;
}

.gallery-imgs:hover {
    box-shadow: 0px 3px 25px #26292dd2;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 50px;
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 200px;
}

/* gallery scroller */

::-webkit-scrollbar {
    width: 15px;
    background-color: #22252c;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr1);
    border-radius: 10px;
}

/* meme-editor */

.meme-editor {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    /* padding-inline: 90px; */
}

canvas {
    background-color: aliceblue;
    border-radius: 10px;
    border: 6px solid #34373e;
}

.meme-editor .btn {
    text-shadow: 0px 1px gray;
}

.meme-editor .btn:hover {
    box-shadow: 0px 3px 9px rgb(146, 146, 146);
}

.meme-features {
    background-color: #34373e;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 40px;
    padding-block: 30px;
}

.text-input {
    background-color: #ebeef3;
    color: black;
    border-radius: 20px;
    width: 100%;
    flex-grow: 1;
    padding-inline: 20px;
}

.switch-btn {
    background-color: #44b3d0;
    box-shadow: 0px 6px #048a97;
}

.add-btn {
    background-color: #3fdb57;
    box-shadow: 0px 6px #015d32;
}

.remove-btn {
    background-color: #de3537;
    box-shadow: 0px 6px #8c0606;
}

.text-setting {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.text-setting>* {
    border-radius: 10px;
    width: 50px;
}

.text-featers {
    background-color: #19a59f;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-grow: 3;
}

.font-btn {
    flex-grow: 3;
}

.text-featers>* {
    border-radius: 10px;
    width: 12%;
    height: 33%;
    box-shadow: 0px 6px #3e7d7a;
}

.smile-emoji {
    background-color: white;
    width: 100%;
    flex-grow: 2;
    text-align: center
}

.text-btn {
    background-color: white;
    color: black;
}

.down-up-load {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-grow: 1;
}

.down-up-load>* {
    border-radius: 10px;
    flex-grow: 1;
}

.download {
    background-color: #1e7cd3;
    box-shadow: 0px 6px #165b9c;
    align-items: center;
    justify-content: center;
}

.share {
    background-color: #8f44bb;
    box-shadow: 0px 6px #632687;
}

/* .share {
    background-color: #211b77;
    box-shadow: 0px 6px #2d2ad1;
} */

.hide {
    display: none;
}

/* my meme  */

.memes-container {
    width: 100%;
}

.canvas-container {

    width: 500px;
    height: 500px;
}

@media (max-width: 1100px) {
    .nav {
        padding-right: 4.375rem;
    }

    .canvas-container {
        align-self: flex-start;
        width: 40vw;
        height: 65vh;
    }

    .meme-editor {
        /* justify-content: flex-start; */
        justify-content: space-between;
    }

    .meme-editor {
        gap: 20px;
    }

    .meme-features {
        width: 425px;
        height: 426px;
        justify-self: flex-end;
    }
}

@media (max-width: 870px) {
    html {
        font-size: 10px;
    }

    .canvas-container {
        align-self: flex-start;
        width: 40vw;
        height: 65vh;
    }

    .gallery-imgs {
        max-width: 160px;
        max-height: 160px;
    }
}

@media (max-width: 700px) {

    .canvas-container {
        width: 97vw;
    }

    .meme-features {
        justify-self: center;
        margin: 5px;
        height: 500px;
    }

    html {
        font-size: 12px;
        overflow-x: hidden;
    }

    body {
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
    }

    .header {
        border-radius: 0;
        position: relative;
        overflow: visible;
    }

    .nav {
        transform: translatex(100%);
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--clr1) !important;
        padding: 10px;
        padding-block: 20px;
        transition: .9s;
        border-bottom-left-radius: 10px;
    }

    .open-menu {
        transform: translatex(0%);
    }

    .more-btn {
        align-self: center;
        height: 35px;
    }

    .gallery {
        height: 87vh;
        padding-bottom: 215px;
        margin-inline: 1em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .gallery-features {
        flex-direction: column;
        width: 100%;
        padding-top: 20px
    }

    .gallery-imgs {
        max-width: 140px;
        max-height: 140px;
    }

    .imgs-container {
        padding-inline: 10px;
        gap: 20px;
    }



    .x-container {
        display: block;
        cursor: pointer;
        padding-inline: 20px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 4px;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .meme-editor {
        flex-direction: column;
    }

    .meme-features {
        width: 100%;
    }
}