:root {
    --clr1: linear-gradient(130deg, #0f9bb2 30%, #2bb67d 100%);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Medium.ttf);
}

html {
    font-family: Poppins;
}

body {
    background-color: #1f1f1f;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Helpers */


.btn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Poppins;
    font-size: 1.3125em;
    font-weight: 500;
    cursor: pointer;
}

.border-radius {
    border-radius: 30px;
}

a {
    text-decoration: none;
}

.input{
    cursor: auto;
}


/* header */

.header {
    background-color: #1fab93;
    background: var(--clr1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.logo {
    padding-left: 7.5rem;
}

.nav {
    padding-right: 14.375rem;
    display: flex;
    gap: 2.5rem;
}

/* gallery */


.gallery {
    background-color: #383b44;
    border-radius: 10px;
    height: 80vh;
    overflow-y: hidden;
    padding-bottom: 150px;
    padding-right: 15px;
}

.gallery-features {
    display: flex;
    padding-left: 20px;
    /* padding-left: 20px; */
    padding-block: 40px;
    gap: 20px;
}

.feature {
    border-radius: 30px;
    height: 60px;
}

.search-form{
    flex-grow: 2;
}

.search {
    background-color: #22252e;
    padding-inline: 50px;
    width: 100%;
    /* opacity: 0.380; */
}

.tags-display {
    background-color: #88898d;
    padding-inline: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    /* gap: ; */
}

.more-btn {
    background: var(--clr1);
    font-weight: 300;
    font-size: 1.15em;
    height: 40px;
    flex-grow: 1;
    align-self: flex-end;
}

.gallery-imgs {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 5px #26292db0;
}
.gallery-imgs:hover{
    box-shadow: 0px 3px 25px #26292dd2;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 50px;
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 200px;
}

/* gallery scroller */

::-webkit-scrollbar {
    width: 15px;
    background-color: #22252c;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr1);
    border-radius: 10px;
}

/* meme-editor */

.meme-editor {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    /* padding-inline: 90px; */
}

canvas {
    background-color: aliceblue;
    border-radius: 10px;
    border: 6px solid #34373e;
}

.meme-editor  .btn{
    text-shadow: 0px 1px gray;
}
.meme-editor  .btn:hover{
    box-shadow: 0px 3px 9px rgb(146, 146, 146);

    /* border-radius: 10px; */
}

.meme-features {
    background-color: #34373e;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-inline: 40px;
    padding-block: 30px;
}

.text-input {
    background-color: #ebeef3;
    color: black;
    border-radius: 20px;
    width: 100%;
    flex-grow: 1;
    padding-inline: 20px;
}

.switch-btn{
    background-color:#44b3d0 ;
    box-shadow: 0px 6px #048a97;
}
.add-btn{
    background-color:#3fdb57 ;
    box-shadow: 0px 6px #015d32;
}
.remove-btn{
    background-color:#de3537 ;
    box-shadow: 0px 6px #8c0606;
}

.text-setting {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.text-setting>* {
    border-radius: 10px;
    width: 50px;
}

.text-featers {
    background-color: #19a59f;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-grow: 3;
}

.font-btn{
    flex-grow: 3;
}

.text-featers>* {
    border-radius: 10px;
    width: 12%;
    height: 33%;
    box-shadow: 0px 6px #3e7d7a;
}

.smile-emoji{
    background-color: white;
    width: 100%;
    flex-grow: 2;
    text-align: center
}

.text-btn {
    background-color: white;
    color: black;
}

.down-up-load {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-grow: 1;
}

.down-up-load>* {
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.download {
    background-color: #1e7cd3;
    box-shadow: 0px 6px #165b9c;
}

.upload {
    background-color: #8f44bb;
    box-shadow: 0px 6px #632687;
}

.share{
    background-color: #211b77;
    box-shadow: 0px 6px #2d2ad1;
}

.hide {
    display: none;
}

@media (max-width: 800px) {
    .gallery-features {
        flex-direction: column;
    }
}